@font-face {
    font-family: 'Oswald';
    src: url('../fonts/Oswald-Regular.ttf') format('truetype');
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Oswald', sans-serif;
}

body {
    display: grid;
    color: aliceblue;
    background-color: rgb(48, 48, 48);
    min-height: 100vh;
    grid-template-columns: 1fr;
    grid-template-rows: 150px 1fr 225px;
    grid-template-areas:
        'top-page'
        'main'
        'bottom-page';
}

#top-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    border-bottom: 1px solid aliceblue;
    box-sizing: border-box;
    grid-area: top-page;
}

#main {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 15px;
    grid-area: main;
}

#bottom-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    grid-area: bottom-page;
}

#guesses {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

input[type="text"],
#guesses>span {
    font-size: 1.1em;
    height: 25px;
    width: 400px;
    color: #e0e0e0;
    background-color: rgb(58, 58, 58);
    line-height: 1.5;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 1px 1px 1px #999;
    outline: none;
    padding: 5px;
}

#player {
    display: flex;
    width: 600px;
    height: 150px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    border: 1px solid aliceblue;
    border-radius: 20px;
}

#progress {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    height: 20px;
    width: 450px;
    max-width: 450px;
    border: 1px solid #e0e0e0;
}

#progress-bar {
    position: absolute;
    z-index: 1;
    height: 20px;
    width: 0px;
    max-width: 450px;
    background-color: #e0e0e0;
    box-sizing: border-box;
}

.divider {
    z-index: 0;
    height: 20px;
    border-right: 1px solid #e0e0e0;
    box-sizing: border-box;
}

#finished {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    gap: 15px;
    grid-area: main;
}

.result {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #414141;
    border-radius: 20px;
    padding: 30px;
}

.finished-result {
    padding: 10px;
    border: 3px aliceblue solid;
    border-radius: 20px;
}

#controls {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

#play-area {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #414141;
    padding: 10px 15px;
    border-radius: 15px;
}

.play-button {
    background-color: transparent;
    width: 30px;
    height: 30px;
    border: 15px solid #202020;
    border-width: 15px 0px 15px 30px;
    border-color: transparent transparent transparent #c9c9c9;
    box-sizing: border-box;
    transition: 0.3s;
}

.play-button:hover {
    border-color: transparent transparent transparent #ffffff;
}

#skip-area {
    display: flex;
    height: 50px;
    width: 60px;
    justify-content: center;
    align-items: center;
    background-color: #414141;
    padding: 10px 15px;
    border-radius: 15px;
    box-sizing: border-box;
}

#skip-button {
    color: #c9c9c9;
    user-select: none; /* supported by Chrome and Opera */
   -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
   -moz-user-select: none; /* Firefox */
   -ms-user-select: none; /* Internet Explorer/Edge */
}

#skip-button:hover {
    color: #ffffff
}