@font-face {
    font-family: 'Oswald';
    src: url('../fonts/Oswald-Regular.ttf') format('truetype');
}

* {
    font-family: 'Oswald', sans-serif;
}

body {
    display: flex;
    color: aliceblue;
    height: 100vh;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(48, 48, 48);
    margin: 0;
}

h1 {
    font-size: 3em;
}

#guesses {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

input[type="text"],
#guesses > span {
    font-size: 1.2em;
    height: 30px;
    width: 400px;
    color: #e0e0e0;
    background-color: rgb(58, 58, 58);
    line-height: 1.5;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 1px 1px 1px #999;
    outline: none;
}

#player {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

#progress {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    height: 30px;
    width: 200px;
    border: 1px solid #e0e0e0;
}

#progress-bar {
    height: 28px;
    width: 0px;
    max-width: 200px;
    background-color: #e0e0e0;
}

.autocomplete {
    /*the container must be positioned relative:*/
    position: relative;
    display: inline-block;
}

.autocomplete-items {
    color: #000000;
    position: absolute;
    border: 1px solid #d4d4d4;
    border-bottom: none;
    border-top: none;
    z-index: 99;
    /*position the autocomplete items to be the same width as the container:*/
    top: 100%;
    left: 0;
    right: 0;
}

.autocomplete-items div {
    padding: 10px;
    cursor: pointer;
    background-color: #fff;
    border-bottom: 1px solid #d4d4d4;
}

.autocomplete-items div:hover {
    /*when hovering an item:*/
    background-color: #e9e9e9;
}

.autocomplete-active {
    /*when navigating through the items using the arrow keys:*/
    background-color: DodgerBlue !important;
    color: #000000;
}