<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/index.css">
    <link rel="stylesheet" href="css/modal.css">
    <title>Ongaku Guesser</title>
</head>

<body>
    <h1>Ongaku Guesser</h1>
    <form id="guess-form" autocomplete="off" action="">
        <div class="autocomplete">
            <input type="text" name="guess" id="guess" placeholder="Digite a resposta aqui...">
        </div>
    </form>
    <div id="guesses">
        <span id="guess-1"></span>
        <span id="guess-2"></span>
        <span id="guess-3"></span>
        <span id="guess-4"></span>
        <span id="guess-5"></span>
        <span id="guess-6"></span>
    </div>
    <div id="player">
        <button id="play-pause-button">Play</button>
        <div id="progress">
            <div id="progress-bar"></div>
        </div>
        <audio id="music" hidden>
            <source src=<%=trackUrl %>>
            Your browser does not support the audio element.
        </audio>
    </div>
    <div id="myModal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <p>Some text in the Modal..</p>
        </div>
    </div>
    <script src="js/autocomplete.js"></script>
    <script src="js/index.js"></script>
</body>

</html>